.scroll-below{
  animation: scroll infinite 1s infinite;
}
@keyframes scroll {
  0%{
    margin-top: 10px;
  }
  50%{
    margin-top: 15px;
  }
  100%{
    margin-top: -25px;
  }
}
.hr{
  margin-top: -30px !important;
}
.new-grow{
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
  width : 0%;
}
.grow{
  width:100%;
}
.hr1{
  margin-left:0;
}
.hr2{
  margin-right:0;
}
hr{
  margin-top: 20px;
  padding: 2px 0;
  border: none;
  background-color: rgb(250, 150, 0);
  letter-spacing: 5px;
}


.tracking-in-contract-bck-bottom{-webkit-animation:tracking-in-contract-bck-bottom 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck-bottom 1s cubic-bezier(.215,.61,.355,1.000) both}